main {
  display: grid;
  height: 150rem;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.05fr 0.3fr 0.3fr 0.15fr 0.15fr 0.1fr;
  grid-template-areas: 
    "header2 nav2 nav2 " 
    "section2 section2 section2" 
    "aside2 section3 section3"
    "section4 section4 section4"
    "section5 section5 section5"
    "footer2 footer2 footer2"; 
   /* grid-template-areas: "footer2 footer2 footer2" "section2 section2 aside2" "header2 nav2 nav2"; */
  /* haz otras distribuciones */
}

header {
  grid-area: header2;
 
}

#logo{
	max-width: 70%;
}

.menu{
  margin: 2em 3em 2em;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

nav {
  margin: 2em;
  grid-area: nav2;
}


.contenedor { 
  height: 100%;
  padding-bottom: 2em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: end;
  align-items: end;
}

.caja {
  width: fit-content;
  height: flex;
  padding: 0em 0.5em;
  font-size: 2em;
  text-align: center;
  font-style: bold;
}

.caja a{
  color: rgb(9, 27, 64);
  font-family: "Helvetica";
  font-weight: bold;
  text-decoration: none;
  vertical-align: bottom;

}

ul li {
  list-style-type: none;
}

#section3{
  grid-area: section3;
  background: rgb(106, 106, 106);
}

#section4{
  grid-area: section4;
  background: rgb(90, 222, 255);
}

#section2{
  grid-area: section2;
  background: rgb(0, 0, 0);
  color:aliceblue;
}

#section5{
  grid-area: section5;
  background: rgb(30, 13, 72);
  color:aliceblue;
}

aside {
  grid-area: aside2;
  background: purple;
  color: white;
}

footer {
  grid-area: footer2;
  background: palevioletred;
  color: white;
  grid-column: span 3;
  /*ocupa 2  columnas desde cualquier sitio que empieces */
  /* también 1/3 */
}

@media (min-width: 375px) {  

}